#firechat #firechat-tabs {
    height: 375px;
    width: 500px;
}


.modal-content{
    overflow: auto;
    margin: 5px;
}

#company-name, #job-type, #description, #contact, #link {
    font-weight: bold;
    font-size: 14px;
}

.modal-header-div {
    margin-left: 10px;
}

#google-maps {
    width: 100%;
    text-align: center;
}

textarea {
    resize: none;
}

#job-btn {
    border-bottom: 1px solid grey;
    margin: 2px;
}

#job-listing-header {
    margin: 2px;
    padding: 5px;
}

#job-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}